<h1>Book detail</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <P>
    <%= @user.name %>
    <%= link_to,user_path(current_user.id) %>
  </P>
</div>

<div>
  <% @books.each do |book| %>
  <span>
    <%= book.title %>
    <%=link_to,book_path %>
  </span>
  <span><%= book.opinion %></span>

</div>



